@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Black.woff') format('woff2'),
      url('./fonts/Gilroy-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Bold.woff2') format('woff2'),
      url('./fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-UltraLightItalic.woff2') format('woff2'),
      url('./fonts/Gilroy-UltraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Light.woff2') format('woff2'),
      url('./fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Heavy.woff2') format('woff2'),
      url('./fonts/Gilroy-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Medium.woff2') format('woff2'),
      url('./fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-ExtraBold.woff2') format('woff2'),
      url('./fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-SemiBold.woff2') format('woff2'),
      url('./fonts/Gilroy-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Thin.woff2') format('woff2'),
      url('./fonts/Gilroy-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-UltraLight.woff2') format('woff2'),
      url('./fonts/Gilroy-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-BlackItalic.woff2') format('woff2'),
      url('./fonts/Gilroy-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-BoldItalic.woff2') format('woff2'),
      url('./fonts/Gilroy-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-HeavyItalic.woff2') format('woff2'),
      url('./fonts/Gilroy-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-ExtraBoldItalic.woff2') format('woff2'),
      url('./fonts/Gilroy-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.woff2') format('woff2'),
      url('./fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-MediumItalic.woff2') format('woff2'),
      url('./fonts/Gilroy-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-LightItalic.woff2') format('woff2'),
      url('./fonts/Gilroy-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-RegularItalic';
  src: url('./fonts/Gilroy-RegularItalic.woff2') format('woff2'),
      url('./fonts/Gilroy-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-SemiBoldItalic.woff2') format('woff2'),
      url('./fonts/Gilroy-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-ThinItalic.woff2') format('woff2'),
      url('./fonts/Gilroy-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}



body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  font-family: 'Gilroy', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

.sombra {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -2px, rgba(0, 0, 0, 0.14) 0px 7px 8px 0px, rgba(0, 0, 0, 0.12) 0px 4px 11px 0px;
  border-radius: 0px 0px 30px 30px;
}

.linea {
  width: 20px;
  background-color: #000000;
  height: 5px;
  border-radius: 0px 55px 55px 0px;
  float: left;
  display: inline-block;
  margin-top: 12px;
  margin-right: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contenedor-slider {
  margin-left: 20px;
  margin-right: 0;
}
.img-fluid.slider {
  max-width: 90%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.cat-slider {
  font-size: 12px;
  font-weight: 700;
  padding-top: 10px;
}

.slick-arrow.slick-next {
  display: none !important;
}

.slick-arrow.slick-prev {
  display: none !important;
}
.slick-dots {
  margin-left: -20px;
}
.slick-dots li {
  margin: 0 15px;
}

.slick-dots li button:before {
  width: 30px;
  border-radius: 200px;
  content: "";
  background-color: red;
  height: 10px;

}

.bg-dark {
  opacity: 0.5;
  background-color: black !important;
}
.navbar-toggler {
  background-color: transparent;
  border: none;
}

.navbar-toggler-icon {
  background-image: none
}

.text-danger {
  color: #ff4a4a!important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #000000;
  font-size: 10px;
  color: white !important;
}

.titulo-pagina {
  padding-bottom: 5px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.product-title {
  font-size: 14px;
  font-weight: 700;
}

.product-description {
  font-size: 12px;
  color: grey;
  font-style: italic;
}

.price {
  font-size: 14px;
}

.d-flex .nav-link {
  color: white;
  text-decoration: none;
}

.d-flex .nav-link:hover {
  color: grey;
}

.nav-link:hover {
  color: #ff4a4a !important;
}

.product-title {
  text-decoration: none;
  color: black;
}

.product-title:hover{
  color: black;
  opacity: 0.5;
}
.btn-info {
  background-color: black !important;
  border: none;
  border-radius: 100%;
  color: white !important;
  font-family: "Gilroy";
  font-weight: 700;
  height: 25px;
  width: 25px;
  font-size: 20px;
  line-height: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: center;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;

}
.btn.right {
  border-radius: 100px;
  height: 25px;
  width: 25px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  margin-top: 6px;
  font-weight: 700;
}

.btn.left {
  border-radius: 100px;
  height: 25px;
  width: 25px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  margin-top: 6px;
  font-weight: 700;
}

.btn.add {
  border-radius: 100px !important;
  height: 35px;
  width: 35px;
  margin-top: 7px;
  margin-left: -1px;
}
.btn.add:hover {
  opacity: 0.7;
}
.btn-danger {
  border-radius: 0;
  margin-left: 20px;
  border: 1px solid black;
  background-color: black;
}

.btn-danger:hover {
  background-color: white;
  color: black;
  
  border-bottom: 1px solid black;
}
.item-count {
  border: 0px solid black;
  max-width: 148px;
  height: 36px;
  text-align: center;
}

.item-count span {
  width: 100%;
  line-height: 35px;
}

.item-count .left {
  float: left;  
}
.item-count .right {
  float: right;  
}

.efecto {
  opacity: 1;
  transition: all ease 500ms;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.efecto:hover {
  opacity: 0.7;
  transition: all ease 150ms;
  cursor: pointer;
}

.efecto:target {
  transform: scale(0.97) translate(-100%, -100%);
}

.cart-float {
  z-index: 99999;
  background-color: black;
  position: fixed;
  bottom: 20px;
  right: 5%;
  border-radius: 10px;
  width: auto;
  line-height: 20px;
  height: 35px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.cart-float p {
  color: #ffffff;
  text-decoration: none;
}

.cart-float .nav-link svg:hover {
  color: red;
}

.badge {
  z-index: 99999;
  background-color: red;
  color: white;
  border-radius: 100%;
  text-align: center;
  position: fixed;
  bottom: 45px;
  right: 20px;
}

.link-item {
  text-decoration: none;
  color: black;
}

.mostrar {
  display: block;
}

.ocultar {
  display: none;
}

.delete-padre {
  position: relative;
}

.delete {
  position: absolute;
  right: 20px;
  z-index: 999;
  border-radius: 0;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.delete:hover {
  background-color: white;
  color: black;
  border: 0;
  border-bottom: 1px solid black;
}

.Toastify__toast--info {
  background-color: black;
}

.form-control {
  border-radius: 0;
  border: 1px solid black;
}

.form-control::placeholder {
  color: black;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

input:focus {
  border: 1px solid red !important;
}

.btn:hover {
  border: 1px solid black !important;
}

.modal-dialog {
  margin: 1rem;
  border-radius: 0;
  background-color: white;
}

.modal-content {
  border: none;
  border-radius: 0;
}

.modal-header {
  border: none;
}